Repository Shiyao-Huang/happy-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, eslint, prettier

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Happy CLI
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-yaml
      - id: check-json
      - id: debug-statements

  # TypeScript type checking (local)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript type checking
        entry: npx tsc --noEmit
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

  # ESLint (local)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        args: [--fix, --max-warnings=0]
        files: '\.(ts|tsx)$'

  # Prettier (local)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: '\.(ts|tsx|js|jsx|json|md|yml|yaml|css|scss)$'

  # Detect secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  subodules: false

fix: strip session-scoped AHA_* env vars before daemon spawn (partial)
  src/index.ts
  src/utils/sessionScopedAhaEnv.ts
Due: typecheck, eslint, prettier

fix: task list pagination + daemon controlClient env cleanup
  src/claude/mcp/taskTools.ts
  src/daemon/controlClient.ts
Due: typecheck, eslint, prettier

fix: full legion session env cleanup + hot evolution tick + session scope
  src/api/api.ts
  src/claude/mcp/mcpContext.ts
  src/claude/mcp/supervisorTools.ts
  src/claude/mcp/taskTools.test.ts
  src/claude/mcp/taskTools.ts
  src/claude/mcp/teamTools.ts
  src/claude/runClaude.ts
  src/claude/team/sessionScope.test.ts
  src/claude/team/sessionScope.ts
  src/claude/utils/taskStateManager.ts
  src/codex/runCodex.ts
  src/daemon/controlClient.ts
  src/daemon/sessionManager.recovery.test.ts
  src/daemon/sessionManager.ts
  src/utils/dnsFallback.ts
  src/utils/sessionScopedAhaEnv.test.ts
Due: typecheck, eslint, prettier

test: update taskTools tests for pagination and reporterId field
  src/claude/mcp/taskTools.test.ts
Due: typecheck, eslint, prettier

feat: get_team_info now shows genome responsibilities and mirror
  src/claude/mcp/teamTools.ts
Due: typecheck, eslint, prettier

feat: add context-mirror & aha-v3-reference skills + scoreAgentEntityVerdict util
  skills/aha-v3-reference/SKILL.md
  skills/context-mirror/SKILL.md
  src/claude/utils/scoreAgentEntityVerdict.test.ts
  src/claude/utils/scoreAgentEntityVerdict.ts
Due: typecheck, eslint, prettier

feat: add prebuild-warn script for cold build protection (E3)
  package.json
  scripts/prebuild-warn.mjs
Due: prettier

fix: walk cwd→root for AGENTS.md discovery to preserve closest-scope docs
  src/utils/agentLaunchContext.ts
Due: typecheck, eslint, prettier

chore: add open source community files and CI workflow
  .github/workflows/ci.yml
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
Due: prettier

security: remove tracked .env files and fix gitignore
  .env.dev
  .env.dev-local-server
  .env.docker-local
  .env.example
  .env.integration-test
  .env.local-server
  .gitignore
Due: none

chore: fix CI pipeline, security docs, and npm exclusions
  .github/workflows/ci.yml
  .github/workflows/smoke-test.yml
  .npmignore
  CONTRIBUTING.md
  SECURITY.md
Due: prettier

fix: change npm publish obfuscation default to none for open source
  package.json
  scripts/lib/npmPublishProtection.mjs
Due: prettier

docs: fix README brand references (aha-v3 → aha, top1vibe → ahaagi)
  README.md
Due: prettier

docs: brand cleanup + Anthropic SDK notice for open source
  CONTRIBUTING.md
  README.md
Due: prettier

feat: add i18n infrastructure with auto locale detection
  src/i18n/detectLocale.ts
  src/i18n/i18n.test.ts
  src/i18n/index.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
Due: typecheck, eslint, prettier

feat: i18n Phase 2 - migrate src/commands/ user-visible strings to t()
  src/commands/agents.ts
  src/commands/auth.ts
  src/commands/sessions.ts
  src/commands/tasks.ts
  src/commands/teams.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
Due: typecheck, eslint, prettier

feat(i18n): migrate src/ui/ strings to t() calls (Phase 3)
  src/ui/auth.ts
  src/ui/doctor.ts
  src/ui/messageFormatter.ts
  src/ui/qrcode.ts
Due: typecheck, eslint, prettier

docs: add CHANGELOG v1.0.0 release entry + clean up TODO in runClaude.ts
  CHANGELOG.md
  src/claude/runClaude.ts
Due: typecheck, eslint, prettier

chore: unify GitHub URL + add package.json repo metadata
  GETTING_STARTED.md
  PROMOTION.md
  package.json
  src/ui/doctor.ts
Due: typecheck, eslint, prettier

docs: add ClawTeam → Aha concept mapping table
  docs/clawteam-mapping.md
Due: prettier

fix: replace console.log with logger in daemon/doctor.ts
  src/daemon/doctor.ts
Due: typecheck, eslint, prettier

fix: console.log audit - replace debug logs with logger in internal files
  src/claude/runClaude.ts
  src/claude/sdk/query.ts
  src/claude/sdk/utils.ts
  src/claude/utils/genomeFeedbackSync.ts
  src/claude/utils/sprintRetro.ts
  src/codex/runCodex.ts
  src/daemon/run.ts
  src/daemon/supervisorScheduler.ts
Due: typecheck, eslint, prettier

chore: fix remaining slopus brand references
  SECURITY.md
  src/configuration.ts
  src/index.ts
  src/lib.ts
  src/ui/auth.ts
Due: typecheck, eslint, prettier

refactor(types): replace as any with concrete types in commands/ and daemon/
  src/commands/connect/authenticateClaude.ts
  src/commands/connect/authenticateCodex.ts
  src/commands/connect/authenticateGemini.ts
  src/commands/teams.ts
  src/daemon/sessionManager.ts
Due: typecheck, eslint, prettier

feat(i18n): Phase 4 - migrate daemon + connect strings to t()
  src/commands/connect.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/index.ts
Due: typecheck, eslint, prettier

docs: fix stale top1vibe.com URLs in aha-v3-cli-reference.md
  docs/aha-v3-cli-reference.md
Due: prettier

fix(rbac): grant help-agent full supervisor-equivalent permissions
  src/claude/team/roleConstants.ts
Due: typecheck, eslint, prettier

fix(retire-self): self-terminate process when daemon cannot stop session
  src/claude/mcp/supervisorTools.ts
Due: typecheck, eslint, prettier

fix: multi-token marketplace search fallback (client-side safety net)
  src/utils/genomeMarketplace.test.ts
  src/utils/genomeMarketplace.ts
Due: typecheck, eslint, prettier

fix: harden org-manager bootstrap and release 1.0.10
  CHANGELOG.md
  package-lock.json
  package.json
  src/claude/runClaude.ts
  src/claude/utils/resolveAgentInstructions.test.ts
  src/claude/utils/resolveAgentInstructions.ts
  src/daemon/run.ts
  src/utils/caffeinate.ts
  src/utils/serializeErrorForLog.test.ts
  src/utils/serializeErrorForLog.ts
Due: typecheck, eslint, prettier

feat: marketplace RBAC fix, batch spawn, concurrent cap, fnm node resolver
  src/claude/mcp/agentTools.ts
  src/daemon/sessionManager.ts
  src/utils/genomeMarketplace.test.ts
  src/utils/genomeMarketplace.ts
  src/utils/spawnAhaCLI.test.ts
  src/utils/spawnAhaCLI.ts
Due: typecheck, eslint, prettier

docs: sprint 0412 delivery record — Mom Test, visibility fix, high concurrency
  docs/sprint-2026-04-12-delivery.md
Due: prettier

fix: resolve @official genomes first in spawn resolution priority
  src/utils/genomeMarketplace.ts
Due: typecheck, eslint, prettier

fix: spawn resolution prefers official latest over public marketplace
  src/utils/genomeMarketplace.ts
Due: typecheck, eslint, prettier

refactor: genome-first role elimination + self-referential eval fix
  src/api/types/genome.ts
  src/claude/claudeRemoteLauncher.ts
  src/claude/runClaude.ts
  src/claude/team/rolePredicates.ts
  src/daemon/helpAutoSpawn.ts
  src/daemon/sessionManager.ts
  src/daemon/supervisorScheduler.ts
Due: typecheck, eslint, prettier

test: update bootstrap role test for genome-first behavior
  src/claude/team/roles.test.ts
Due: typecheck, eslint, prettier

fix: address 4 genome-first review findings
  src/claude/claudeRemoteLauncher.ts
  src/claude/runClaude.ts
  src/claude/team/rolePredicates.ts
  src/daemon/supervisorScheduler.ts
Due: typecheck, eslint, prettier

feat: add legion image kind awareness to evolve_genome and mutate_genome
  src/claude/mcp/supervisorTools.ts
Due: typecheck, eslint, prettier

fix: restore genome fetch in preset spawn (was lost in checkout)
  src/commands/teams.ts
Due: typecheck, eslint, prettier

fix: hard fail on genome fetch — no fallback masking broken state
  package-lock.json
  package.json
  src/agentDocker/__tests__/dockerJsonCI.test.ts
  src/api/api.ts
  src/claude/claudeRemoteLauncher.test.ts
  src/claude/claudeRemoteLauncher.ts
  src/claude/loop.ts
  src/claude/mcp/agentTools.ts
  src/claude/mcp/supervisorTools.ts
  src/claude/runClaude.ts
  src/claude/session.ts
  src/claude/team/promptBuilder.ts
  src/claude/team/roles.test.ts
  src/claude/utils/entityHub.ts
  src/claude/utils/genomeFeedbackSync.test.ts
  src/claude/utils/genomeFeedbackSync.ts
  src/claude/utils/genomePromotionSync.test.ts
  src/claude/utils/genomePromotionSync.ts
  src/claude/utils/temporaryToolGrants.ts
  src/commands/teams.ts
  src/configuration.ts
  src/daemon/run.ts
  src/daemon/supervisorScheduler.test.ts
  src/daemon/supervisorScheduler.ts
  src/utils/genomeHubAuth.test.ts
  src/utils/genomeHubAuth.ts
  src/utils/genomeMarketplace.ts
  src/utils/marketplaceConnection.ts
Due: typecheck, eslint, prettier
